# =========================================
# Laravel
# =========================================

/vendor/
/.env
/.phpunit.result.cache

# Cache & compiled files
/bootstrap/cache/
/storage/app/public/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
/public/storage

# =========================================
# Frontend (Vite / NPM)
# =========================================

/node_modules/
/public/build/
/public/hot
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================================
# IDEs and OS files
# =========================================

/.vscode/
/.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# =========================================
# Laravel Sail
# =========================================

/.sail/
